<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Join Our Team</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="/static/Join_page.css">
</head>
<body>

<div class="wrapper">
    <h1>Info</h1>
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
             <img src="/static/ishapic.jpg" alt="our_team">
          </div>
          <h3>Isha Adhikari</h3>
          <span>Pithoragarh</span>
        </div>  
    </div>
</div>	

</body>
</html>